.tempborder {
    /* border: 2px solid red; */
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --a: 0;
}

body {
    background-color: black;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;


}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.home {}

.home ul li {
    list-style: none;
    display: flex;
    gap: 15px;
    width: 14px;
    padding-top: 14px;
    font-weight: bold;
}

.library {
    height: 80vh;
    position: relative;
}

.heading {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px, 14px;
    font-weight: bold;
    font-size: 13px;

}

.heading img {
    width: 30px;
}

.footer {
    display: flex;
    gap: 15px;
    font-size: 10px;
    color: grey;
    position: absolute;
    bottom: 0px;
    padding: 10px;
}

.footer a {
    color: grey;
}

.hamburger {
    display: none;


}

.hamburgercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.close {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(22, 22, 22);
    height: 72px;

}

.header>* {
    padding: 20px;
}

.spotifyplaylist {
    padding: 16px;
}

.containercard {
    display: flex;
    gap: 13px;
    margin: 30px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;

}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card:hover {
    background-color: rgb(114, 113, 113);
    cursor: pointer;
    --a: 1;
}

.play {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #1ed760;
    border: 2px solid #000;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.button>* {
    margin: 0 12px;
}

.signupbtn {
    border: none;
    outline: none;
    background-color: rgb(22, 22, 22);
    color: rgb(158, 149, 149);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    color: black;
    border-radius: 21px;
    padding: 10px;
    width: 79px;
    cursor: pointer;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar {
    background-color: #999999c9;
    filter: invert(1);
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    position: fixed;
    bottom: 10px;
    width: 70vw;
    min-height: 40px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.songslist {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.songslist ul {
    padding: 0 12px;
}

.songslist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songslist .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 10px;
    width: 50px;
    justify-content: center;
    align-items: center;
}

.seekbar {
    width: 98%;
    height: 4px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    bottom: 0px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons {
    cursor: pointer;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.songtime {
    width: 125px;
    padding: 0 12px;
    width: 250px;
}

.timevol {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.volume {
    display: flex;
    gap: 10 px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.range input {
    cursor: pointer;
}

.playabove {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

@media (max-width: 1400px) {
    .left {
        position: absolute;
        left: -100%;
        transition: all .3s;
        z-index: 1;
        background-color: black;
        width: 370px;
        padding: 0;
    }

    .footer {
        gap: 12px;
    }

    .card {
        width: 90vw;
    }

    .containercard {
        margin: 0;
        justify-content: center;

    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .playbar {
        width: calc(100vw - 60px);
        font-size: 10px;
    }

    .seekbar {
        width: calc(100vw - 70px);
    }

    .hamburger {
        display: block;
        cursor: poin;

    }

    .close {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
    }

    .playabove {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .timevol {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 13px;
        flex-direction: column;
    }

}