.flex {
    display: flex;
}

.justifycontent {
    justify-content: center;
}

.alitems {
    align-items: center;
}

.rounded {
    border-radius: 7px;
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-grey {
    background-color: hsl(0deg 0% 12.16%);
}

.invert {
    filter: invert(1);
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    /* Dark color for the thumb */
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #222;
    /* Dark color for the track */
}

/* For Firefox
  scrollbar-color: #333 #222; /* Dark color for the thumb and track in Firefox */